
body {
font-size: 26px;
 color: #ffffff!important;
    line-height: 1.2;
    font-weight: bold; /*元の値はnormal */
    background: #ffffff;
    -webkit-animation: fadeIn 1.5s ease 0s 1 normal;
    animation: fadeIn 1.5s ease 0s 1 normal;
}
 
 div {
   background: #06254e;
   width: 1000px;
   padding: 500px;
   text-align: center;
   border: 1px solid #cccccc;
   margin: 30px auto;
}


